<?xml version="1.0" encoding="UTF-8" ?>
<!--  src/mapper/professor.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sql문장 설정 -->

<mapper namespace="professor">
	<select id="cnt" resultType="int" parameterType="String">
	select count(*) from professor where professor_id=#{value}
	</select>
	
	<select id="insert" parameterType="Professor">
	insert  into professor 
	(
	professor_id , professor_name , professor_email,
	professor_birthday , professor_phone , dept_id,
	professor_img , professor_password
	)
	values
	(
	#{professorId},#{professorName},#{professorEmail},
	#{professorBirthday},#{professorPhone},#{deptId},
	#{professorImg},#{professorPassword}
	)
	
	</select>
	
	<select id="selectOne" resultType="Professor" parameterType="String">
		select * from professor where professor_id=#{professorId}
	</select>
	
<update id="tempPw" parameterType="UpdateProPwDto">
	update professor set professor_password=#{professorNewPassword}
	where professor_id = #{professorId} 
</update>
</mapper>